<div class="list-container">
  <h2>Lista de Movimientos</h2>

  <mat-form-field appearance="outline" class="search-bar">
    <input matInput placeholder="Buscar por cuenta o cliente">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onCreate()">
    <mat-icon>add</mat-icon> Registrar Movimiento
  </button>

  <table mat-table [dataSource]="dataSource" class="full-width-table mat-elevation-z2">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let m"> {{ m.date | date: 'mediumDate' }} </td>
    </ng-container>

    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef> Cuenta (Cliente) </th>
      <td mat-cell *matCellDef="let m">
        {{ m.accountNumber }}
        <span *ngIf="m.clientName" class="sub-text" matTooltip="{{ m.clientName }}">(...)</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let m">
        <span [class.credit]="m.type === 'Deposito'" [class.debit]="m.type === 'Retiro'">
            {{ m.type }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let m">
        <span [class.credit]="m.type === 'Deposito'" [class.debit]="m.type === 'Retiro'">
            {{ m.type === 'Retiro' ? '-' : '+' }} {{ m.value | currency:'USD':'symbol':'1.2-2' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef> Saldo Final </th>
      <td mat-cell *matCellDef="let m">
        {{ m.balance | currency:'USD':'symbol':'1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let m">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onView(m)">
            <mat-icon>visibility</mat-icon>
            <span>Ver Detalle</span>
          </button>
          <button mat-menu-item (click)="onDelete(m)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="dataSource.length === 0" class="no-data-message">
    No hay movimientos registrados.
  </div>
</div>